{% extends 'base.html' %}

{% block title %}Recipe Detail{% endblock %}

{% block content %}
  <h1>{{ recipe.name }}</h1>

  {% if recipe.author %}
    <p>Author: {{ recipe.author.name }}</p>
  {% endif %}

  <ul>
    {% for ingredient in recipe.ingredients.all %}
      <li>{{ ingredient.ingredient.name }} - {{ ingredient.quantity }}</li>
    {% endfor %}
  </ul>

  {% for image in recipe.images.all %}
    <img src="{{ image.image.url }}" alt="{{ image.description }}" width="400">
  {% endfor %}

  <p><a href="{% url 'ledger:add-image' recipe.id %}">Add image</a></p>
{% endblock %}